<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>上机考试管理系统</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/Content/INSPINIA/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/INSPINIA/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/INSPINIA/css/plugins/dataTables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/INSPINIA/css/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/INSPINIA/css/animate.css" rel="stylesheet" />
    <link href="/Content/INSPINIA/css/style.css" rel="stylesheet" />
    <link href="/Content/INSPINIA/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="/Content/INSPINIA/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img style="width:80px;height:80px;" alt="image" class="img-circle" src="~/Content/Other/images/login/logo0.png" />
                            </span>
                        </div>
                    </li>
                    <li id="headMark"></li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">上机考试管理系统</span>
                        </li>
                        <li>
                            <span class="m-r-sm text-muted welcome-message">欢迎您，@Session["name"]</span>
                        </li>
                        <li>
                            <a href="/Home/Index"><i class=""></i> 首页</a>
                        </li>
                        <li>
                            <a href="/Login/Logout"><i class="fa fa-sign-out"></i> 退出</a>
                        </li>
                    </ul>
                </nav>
            </div>
            @RenderBody()
        </div>
    </div>

    <script src="~/scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/INSPINIA/js/plugins/metisMenu/jquery.metisMenu.js" type="text/javascript"></script>
    <script src="/Content/INSPINIA/js/plugins/slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/Content/INSPINIA/js/inspinia.js" type="text/javascript"></script>
    <script src="/Content/INSPINIA/js/plugins/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="/Content/INSPINIA/js/plugins/dataTables/datatables.min.js" type="text/javascript"></script>
    <script src="/Content/INSPINIA/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/Content/INSPINIA/js/plugins/pace/pace.min.js"></script>
    <script src="/Content/INSPINIA/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/Content/INSPINIA/js/plugins/ladda/spin.min.js"></script>
    <script src="/Content/INSPINIA/js/plugins/ladda/ladda.min.js"></script>
    <script src="/Content/INSPINIA/js/plugins/ladda/ladda.jquery.min.js"></script>
    <script src="/Content/INSPINIA/js/ajaxfileupload.js"></script>
    <script src="/Content/INSPINIA/js/echarts.common.min.js"></script>

    <script>
        var jsonString = "";
        $(document).ready(function () {
            jsonString = ("@Session["access"]").replace(/&quot;/g,"\"");
            var jsonList = jQuery.parseJSON(jsonString);
            var html="";
            for (var s in jsonList) {
                html += '<li><a href="' + jsonList[s]["TableAdress"] + '"><!--<i class="fa fa-th-large"></i>--> <span class="nav-label">' + jsonList[s]["TableName"] + '</span></a></li>';
            }
            $("#headMark").after(html);
        });

        function exit(){
            $.post("/Login/Logout",null, function (data) {
                    if (data.result == 0) {
                        toastr.warning("登出失败");
                    }
                    else {
                        toastr.success("再见");
                        location.replace("../Login/Index");
                    }
                })
        }
    </script>
    @RenderSection("script", false)
</body>
</html>