@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录 - 上机考试管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="../Common/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../Common/css/login.css" media="all" />
</head>
<body class="main" style="background-position: -280.8px 0px;">
    <div id="mainBody">
        <div id="cloud1" class="cloud" style="background-position: 891.1px 100px;"></div>
        <div id="cloud2" class="cloud" style="background-position: 401px 460px;"></div>
    </div>

    <div class="logintop">
        <img src="/Common/images/login/logo.png" style="width: 230px;margin-left:20px" />
        <ul>
            <li><a href="http://www.henu.edu.cn/" target="_blank"><b><font color="#FFF">河南大学</font></b></a></li>
        </ul>
    </div>

    <div class="loginbody">
        <div class="loginbox">
            <form class="layui-form">
                <ul>
                    <li>
                        <input name="username" type="text" id="username" value="admin" class="loginuser ipt"
                               placeholder="请输入用户名" lay-verify="required">
                    </li>

                    <li>
                        <input name="password" type="password" id="password" value="123456"
                               class="loginpwd ipt" placeholder="请输入密码" lay-verify="required">
                    </li>

                    <li>
                        <button class="layui-btn loginbtn" lay-submit lay-filter="login">登录</button>

                        <label>
                            <a href="#" onclick="javascript: alert('请联系老师或管理员！')" style="color:white">忘记密码？</a>
                        </label>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div class="loginbm">Copyright &copy; 2019 - @DateTime.Now.Year xxx.All Rights Reserved.</div>

    <script type="text/javascript" src="/Common/layui/layui.js"></script>
    <script type="text/javascript" src="/Common/js/login.js"></script>
</body>
</html>
