<div class="row wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>考中查看</h5>
            <div class="ibox-tools">
                <a class="btn btn-xs btn-primary" onclick="table.ajax.reload()">刷新</a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="ibox-content">
                <p id="ptest"></p>
                <table id="exam_table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:14%">所属教师</th>
                            <th style="width:14%">所属专业</th>
                            <th style="width:20%">开始时间</th>
                            <th style="width:14%">持续时间</th>
                            <th style="width:18%">考试文档</th>
                            <th style="width:20%">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="container" id="notice" style="">
            <div class="row">
                <div class="jumbotron">
                    <ul id="message_box"></ul>
                </div>
                发布人:<input id="text_name" value="@Session["name"]" class="form-control" /><br />
                通知内容:
                <textarea id="text_message" class="form-control" rows="3"></textarea>
                <br />
                <button id="btn_send" class="btn btn-xs btn-primary">发布</button>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeIn">
            <div class="p-w-md m-t-sm">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="flot-chart m-b-xl">
                            <div class="flot-chart-content" id="detail" style="width:400px;height:300px;"></div>
                            <a class="btn btn-xs btn-primary" onclick="IPDetailModel()">登录-详细查看</a>
                            <a class="btn btn-xs btn-primary" onclick="AnDetailModel()">提交-详细查看</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="modal inmodal fade" id="model_update" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    修改考试
                </h4>
            </div>
            <div class="modal-body">
                <form id="form_update" class="form-horizontal">
                    <div class="form-group" id="warningtips" style="visibility:hidden;">
                        <h5 class="col-sm-10 col-sm-offset-2" style="color:Red;"></h5>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10"><input id="update_id" type="hidden" name="ID" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            所属教师
                        </label>
                        <div class="col-sm-10">
                            <input type="text" id="update_teacher" name="Teacher" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            所属专业
                        </label>
                        <div class="col-sm-10">
                            <select id="update_major" name="Major" class="form-control" required>
                                <option value=""></option>
                                <option>计算机科学与技术</option>
                                <option>网络工程</option>
                                <option>软件工程</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            开始时间
                        </label>
                        <div class="col-sm-10">
                            <input type="text" id="update_start" name="Start" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            持续时间
                        </label>
                        <div class="col-sm-10">
                            <input type="text" id="update_last" name="Last" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            考试文档
                        </label>
                        <div class="col-sm-10">
                            <input type="text" id="update_file" name="FilePath" class="form-control">
                            <div class="uploader-thum-container">
                                <input type="file" id="uFile" name="ufile" onchange="Filepath(this.id,'ufile','update_file');" readonly />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="UpdateSubmit()">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="model_ipdetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    登录-详细查看
                </h4>
            </div>
            <div class="ibox-content">
                <div class="ibox-content">
                    <table id="ip_table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>学号</th>
                                <th>IP</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="model_andetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    提交-详细查看
                </h4>
            </div>
            <div class="ibox-content">
                <div class="ibox-content">
                    <table id="answer_table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>学号</th>
                                <th>文件</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="~/scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var $messageBox = $('#message_box');
            var $textMessage = $('#text_message');
            var $textName = $('#text_name');
            //客户端先与服务器连接起来，拿到服务器的代理操作对象
            var hubConnection = $.connection.myHub;
            //注册客户端函数
            hubConnection.client.receiveMessage = function (name, message) {
                $messageBox.append('<li><b>' + name + '</b> 发布通知:' + message + '</li>')
            }

            //启动连接到服务器
            $.connection.hub.start().done(function () {
                $('#btn_send').bind('click', function () {
                    //调用服务端的函数
                    hubConnection.server.sendMessage($textName.val(), $textMessage.val());
                });
            });
        });

        var filter = " ";
        var table = null;

        $.extend($.validator.messages, { required: '该项不能为空' });

        $(document).ready(function () {
            table = $("#exam_table").DataTable({
                "pageLength": 10,
                "lengthChange": false,
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "dom": '< l < t > ip >',
                "ajax": function (tdata, callback, settings) {
                    $.ajax({
                        type: "POST",
                        url: "/ExamCheck/AjaxList/" + filter,
                        cache: false,
                        data: tdata,
                        dataType: "json",
                        success: function (res) {
                            if (res.result == 0) {
                                toastr.warning(res.msg);
                            } else if (res.result == 100) {
                                location.href = "/Login/Index";
                            } else {
                                callback(res.data);
                            }
                        },
                        error: function (XMLHttpRequest, txtStatus, errorThrown) {
                            toastr.warning('查询失败，请重试');
                        }
                    });
                },
                "columns": [
                    { data: "Teacher" },
                    { data: "Major" },
                    { data: "Start" },
                    { data: "Last" },
                    {
                        data: "Filepath", "render": function (data, type, row) {
                            if (data)
                                return "<a download='file' href=" + data + " target='_blank'>" + data + "</a>";
                            else
                                return "无";
                        }
                    },
                    {
                        data: "ID",
                        "render": function (data, type, row) {;
                            var html;

                            html = "<a class='btn btn-xs btn-danger'onclick='EndModel(" + data + ")' >结束</a>";

                            return html;
                        }
                    }
                ],
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "每页显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "当前显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "当前显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "关键字搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "buttons": []
            })
        });

        function EndModel(id) {
            $.post("/ExamCheck/Info/" + id, null, function (res) {
                if (res.result == 0) {
                    toastr.error("所选择项不存在,请刷新后重试");
                } else if (res.result == 100) {
                    location.href = "/Login/Index";
                } else {
                    $("#update_teacher").val(res.data.Teacher);
                    $("#update_major").val(res.data.Major);
                    $("#update_start").val(res.data.Start);
                    $("#update_last").val(res.data.Last);
                    $("#update_file").val(res.data.Filepath);
                    $("#update_id").val(res.data.ID);
                }
            })

            swal({
                title: "提前结束此考试?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "取消",
                confirmButtonText: "确认",
                closeOnConfirm: false
            }, function () {
                $.post("/ExamCheck/End", $("#form_update").serialize(), function (res) {
                    if (res.result == 1) {
                        window.location.reload();
                        swal("考试已结束", "", "success");
                    } else if (res.result == 100) {
                        location.href = "/Login/Index";
                    } else {
                        toastr.error(res.msg);
                    }
                });
            });
        }

        $(document).ready(function () {
            var jsonString = ("@ViewBag.BigData").replace(/&quot;/g,"\"");
            var tArray = jQuery.parseJSON(jsonString);
            var myChart = echarts.init(document.getElementById('detail'));

            var option = {
                color: ['#3398DB'],
                title: {
                    text: '上机考试管理系统'
                },
                tooltip: {},
                legend: {
                    data: ['数据']
                },
                xAxis: {
                    data: tArray.map(item => { return item.name }),
                    axisLabel: {
                        interval: 0,
                        rotate: 40
                    }
                },
                grid: {
                    left: '10%',
                    bottom: '35%'
                },
                yAxis: {},
                series: [{
                    name: '数据',
                    type: 'bar',
                    data: tArray.map(item => { return item.rows })
                }]
            };

            myChart.setOption(option);
        });       

        function IPDetailModel() {
            $("#model_ipdetail").modal('show');
        }

        function AnDetailModel() {
            $("#model_andetail").modal('show');
        }

        $(document).ready(function () {
            table = $("#ip_table").DataTable({
                "pageLength": 10,
                "lengthChange": false,
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "dom": '< l < t > ip >',
                "ajax": function (tdata, callback, settings) {
                    $.ajax({
                        type: "POST",
                        url: "/ExamCheck/IPAjaxList/" + filter,
                        cache: false,
                        data: tdata,
                        dataType: "json",
                        success: function (res) {
                            if (res.result == 0) {
                                toastr.warning(res.msg);
                            } else if (res.result == 100) {
                                location.href = "/Login/Index";
                            } else {
                                callback(res.data);
                            }
                        },
                        error: function (XMLHttpRequest, txtStatus, errorThrown) {
                            toastr.warning('查询失败，请重试');
                        }
                    });
                },
                "columns": [
                    { data: "Username" },
                    { data: "IP" },
                    {
                        data: "ID",
                        "render": function (data, type, row) {
                            ;
                            var html;

                            html = "<a class='btn btn-xs btn-danger'onclick='RemoveModel(" + data + ")' >解除绑定</a>";

                            return html;
                        }
                    }
                ],
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "每页显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "当前显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "当前显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "关键字搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "buttons": []
            })
        });

        $(document).ready(function () {
            table = $("#answer_table").DataTable({
                "pageLength": 10,
                "lengthChange": false,
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "dom": '< l < t > ip >',
                "ajax": function (tdata, callback, settings) {
                    $.ajax({
                        type: "POST",
                        url: "/ExamCheck/AnAjaxList/" + filter,
                        cache: false,
                        data: tdata,
                        dataType: "json",
                        success: function (res) {
                            if (res.result == 0) {
                                toastr.warning(res.msg);
                            } else if (res.result == 100) {
                                location.href = "/Login/Index";
                            } else {
                                callback(res.data);
                            }
                        },
                        error: function (XMLHttpRequest, txtStatus, errorThrown) {
                            toastr.warning('查询失败，请重试');
                        }
                    });
                },
                "columns": [
                    { data: "Student" },
                    {
                        data: "Filepath", "render": function (data, type, row) {
                            if (data)
                                return "<a download='file' href=" + data + " target='_blank'>" + data + "</a>";
                            else
                                return "无";
                        }
                    },
                ],
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "每页显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "当前显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "当前显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "关键字搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "buttons": []
            })
        });       

        function RemoveModel(model) {
            swal({
                title: "确定解除绑定?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "取消",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                closeOnConfirm: false
            }, function () {
                $.post("/ExamCheck/Remove/" + model, null, function (res) {
                    if (res.result == 0) {
                        swal("解除失败!", "没用可供解除的数据", "error");
                    } else if (res.result == 100) {
                        location.href = "/Login/Index";
                    } else {
                        window.location.reload();
                        swal("已解除!", "IP已解除", "success");
                    }
                });
            });
        }
    </script>
}


