@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="dropdown-divider"></div>

<div class="jumbotron pb-1 mb-2 pt-2">
    <h1 id="nowtime" class="text-center"></h1>

    <p style="font-size:50px;font-family:楷体;">纸上得来终觉浅，绝知此事要躬行。</p>
    <p style="font-size:30px">欢迎你，同学！</p>
</div>

<div class="row">
    <div class="col-12">
        <div class="card border-danger mt-0 mb-3">
            <h2 class="card-header text-danger">学生守则</h2>
            <div class="card-body text-dark">
                <ol>
                    <li>
                        <strong>必须</strong> 遵纪守法、做维护社会公德的模范。
                    </li>
                    <li>
                        弘扬优秀 <strong>民族文化</strong><strong>遵守</strong>网络道德规范。
                    </li>
                    <li>自觉维护公共信息安全，维护公共网络安全。</li>
                    <li>正确运用网络资源。</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<img src="~/Common/images/home/shortcut.jpg" style="width: 150px;" />
<div class="dropdown-divider"></div>

<div class="row">
    <div class="col">
        <div class="card border-success mb-3">
            <h2 class="card-header">进入考试</h2>
            <div class="card-body text-dark">
                <p>在此处可以快速跳转至考试页面。</p>
                <p>
                    <a class="btn btn-secondary" href="#">Go!</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-primary mb-3">
            <h2 class="card-header">查看成绩</h2>
            <div class="card-body text-dark">
                <p>在此处可以快速跳转至学生成绩页面。</p>
                <p>
                    <a class="btn btn-secondary" href="#">Go!</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-info mb-3">
            <h2 class="card-header">修改个人资料</h2>
            <div class="card-body text-dark">
                <p>在此处可以快速跳转至修改个人资料页面，其中包括：</p>
                <ul>
                    <li>修改密码</li>
                    <li>个人基本信息</li>
                </ul>
                <p>
                    <a class="btn btn-secondary" href="#">Go!</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    //页面加载调用
    window.onload = function () {
        setInterval("NowTime()", 1000);
    }

    function NowTime() {
        var time = new Date();
        var year = time.getFullYear();
        var month = time.getMonth();
        var day = time.getDate();
        var h = time.getHours();
        var m = time.getMinutes();
        var s = time.getSeconds();

        //检查是否小于10
        h = check(h);
        m = check(m);
        s = check(s);
        document.getElementById("nowtime").innerHTML = "Now - " + year + "年" + month + "月" + day + "日  " + h + ":" + m + ":" + s;
    }
    //时间数字小于10，则在之前加个“0”补位。
    function check(i) {
        var num;
        i < 10 ? num = "0" + i : num = i;
        return num;
    }
</script>

